<h1>Welcome to this live Webapp</h1>
<h2>This is a modification of a current course that is being taught at udemy.com by Alex Yang
<h3>This is one of the sample of my work. I am learning ruby on rails.Please visit my blog at 
	

<h3>I am trying to raise money to put myself through General Assemb.ly's Web development program.<h3>
	<h4>My Aim to work hard and put enough effort to generate this new app online and keep adding material with constant modification to ensure that I am prepared enough to enter code bootcamps" <h4>
